.app {
  padding: 20px 50px;
}

.app__navigation button.btn {
  padding: 0;
}

.app__navigation a {
  display: block;
  padding: 10px 18px;
}

.slideshow img {
    animation: fadein 1.5s;
}

#vanillatoasts-container {
  bottom: 10px;
  top: auto !important;
}

button:focus {
    outline: none;
}

@keyframes fadein {
    from { opacity: 0.2; }
    to   { opacity: 1; }
}

