.app {
  padding: 20px 50px;
}

.app__navigation {
  display: flex;
  flex-wrap: wrap;
  width: 630px;
}

.app__navigation-toolbar button.btn {
  padding: 0;
}

.app__navigation-toolbar a {
  display: block;
  padding: 6px 18px;
}

.app__navigation-description {
  padding-right: 18px;
  display: inline-flex;
  height: 32px;
  line-height: 32px;
  color: #999999;
  font-weight: 700;
}

.btn-toolbar {
  display: inline-flex;
  padding-bottom: 20px;
}

.list-item {
  padding: 5px 0 10px 0;
}

.slideshow img {
    animation: fadein 1.5s;
}

#vanillatoasts-container {
  bottom: 10px;
  top: auto !important;
}

button:focus {
    outline: none;
}

@keyframes fadein {
    from { opacity: 0.2; }
    to   { opacity: 1; }
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 1500ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 1500ms ease-in;
}

